---
layout: default
title: Work - Jake Tarr
---

<section class="work-section">
	<div class="ribbon-container">
		<div class="ribbon">
			<div class="ribbon-content">
				<h6>Work</h6>
			</div>
		</div>
	</div>
	<div class="project-container">
		{% include work/project-gregmauz.html %}
		{% include work/project-personal.html %}
		{% include work/project-syllabus.html %}
	</div>
	<div class="more-projects-container">
		<h2>Check out my other projects</h2>
		<div class="more-projects-gallery">
			{% for more_projects_gallery_image in site.data.projects.more_projects_gallery_images %}
			<div class="more-projects-gallery-img-container">
				<figure>
					<img class="{{ more_projects_gallery_image.thumbnail_class }}" src="../img/projects/{{ more_projects_gallery_image.image_path }}" alt="{{ more_projects_gallery_image.alt_text }}">
					<span></span>
				</figure>
			</div>
			{% endfor %}
		</div>
	</div>
</section>





