<div id="project-gregmauz">
	<div class="project-gallery">
		{% for project_gregmauz_gallery_image in site.data.projects.project_gregmauz_gallery_images %}
		<figure>
			<img src="../img/projects/{{ project_gregmauz_gallery_image.image_path }}" alt="{{ project_gregmauz_gallery_image.alt_text }}">
		</figure>
		{% endfor %}
	</div>
	<article class="project-info">
		<h2>{{ site.data.projects.project_gregmauz_contents_title }}</h2>
		<ul class="project-facts">
			{% for project_gregmauz_content in site.data.projects.project_gregmauz_contents %}
			<li class="project-fact">
				<div class="project-fact-title">
					{{ project_gregmauz_content.title }}
				</div>
				<div class="project-fact-description">
					{{ project_gregmauz_content.desc }}
				</div>
			</li>
			{% endfor %}
		</ul>
	</article>
</div>