<div class="footer-push"></div>
<footer>
	<section class="top-footer-container">
		<div class="top-footer-content row">
			<div class="top-footer-item col-sm-4">
				<h5>About</h5>
				<p>
					I'm a freelance web designer with a focus in frontend technologies such as HTML, CSS, and JavaScript and responsive web design so that your website looks great on any device.
				</p>
			</div>
			<div class="top-footer-item col-sm-4">
				<h5>Sitemap</h5>
				<ul>
					<li><a href="../about">About</a></li>
					<li><a href="../work">Work</a></li>
					<li><a href="../blog">Blog</a></li>
					<li><a href="../contact">Contact</a></li>
				</ul>
			</div>
			<div class="top-footer-item col-sm-4">
				<h5>Follow Me!</h5>
				<a class="top-footer-icon" target="_blank" href="http://twitter.com/jacobtarr">
					<img src="../img/global/twitter-icon.svg">
				</a>
				<a class="top-footer-icon" target="_blank" href="http://facebook.com/jtarr523">
					<img src="../img/global/facebook-icon.svg">
				</a>
				<a class="top-footer-icon" target="_blank" href="http://dribbble.com/jacobtarr">
					<img src="../img/global/dribbble-icon.svg">
				</a>
				<a class="top-footer-icon" target="_blank" href="http://linkedin.com/in/jacobtarr">
					<img src="../img/global/linkedin-icon.svg">
				</a>
			</div>
		</div>
	</section>
	<section class="bottom-footer-container">
		<div class="bottom-footer-content">
			<span>2014 &copy; Jake Tarr</span>
		</div>
	</section>
	
	<script src="../js/wow.js"></script>
	<script src="../js/retina.min.js"></script>
    <script src="../js/holder.js"></script>
    <script src="../js/flowtype.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/app.js"></script>

</footer>
