<div class="footer-push"></div>
<footer>
	<section class="top-footer-container">
		<div class="top-footer-content row">
			<div class="top-footer-item col-sm-4">
				<h5>About</h5>
				<p>{{ site.data.settings.footer_about_brief }}</p>
			</div>
			<div class="top-footer-item col-sm-4">
				<h5>Sitemap</h5>
				<ul>
					{% for footer_sitemap_link in site.data.settings.footer_sitemap_links %}
					<li>
						<a href="{{ footer_sitemap_link.url_link }}">{{ footer_sitemap_link.name }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="top-footer-item col-sm-4">
				<h5>Follow Me!</h5>
				{% for footer_icon in site.data.settings.footer_icons %}
				<a class="top-footer-icon" target="_blank" href="{{ footer_icon.url_link }}">
					<img src="{{ footer_icon.img_link }}">
				</a>
				{% endfor %}
			</div>
		</div>
	</section>
	<section class="bottom-footer-container">
		<div class="bottom-footer-content">
			<span>2014 &copy; Jake Tarr</span>
		</div>
	</section>

	<!-- jQuery CDN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
	<script src="../js/wow.min.js"></script>
	<script src="../js/retina.min.js"></script>
    <script src="../js/holder.js"></script>
    <script src="../js/flowtype.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/app.js"></script>

</footer>
