---
layout: default
title: Blog - Jake Tarr
---

<section class="blog-feed">
	<div class="ribbon-container">
		<div class="ribbon">
			<div class="ribbon-content">
				<h6>Blog</h6>
			</div>
		</div>
	</div>
	<!-- Featured post (latest post) -->
	<div class="blog-feed-featured-section">
		<h5>Featured Post</h5>
		{% for post in site.posts limit:1 %}
		<article class="featured-post">
			<figure>
				<img src="holder.js/900x380" alt="">
			</figure>
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<p>{{ post.excerpt | strip_html }}</p>
			<div class="post-byline">
				<ul>
					<li><i class="fa fa-user"></i>
						{% if post.author %}
							{{ post.author }}
						{% else %}
							{{ site.data.settings.author }}
						{% endif %}
					</li>
					<li><i class="fa fa-calendar-o"></i>{{ post.date }}</li>
					<li><i class="fa fa-comment"></i>3 Comments</li>
				</ul>
			</div>
		</article>
		{% endfor %}
	</div>
	<!-- All the other posts added before latest post -->
	<div class="blog-feed-latest-section">
		<h5>Latest Posts</h5>
		<div class="latest-posts-row">
			{% for post in site.posts offset:1 limit:3 %}
			<article class="latest-post">
				<figure>
					<img src="holder.js/260x200" alt="">
				</figure>
				<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<p>{{ post.excerpt | strip_html }}</p>
				<div class="post-byline">
					<ul>
						<li><i class="fa fa-user"></i>
							{% if post.author %}
								{{ post.author }}
							{% else %}
								{{ site.data.settings.author }}
							{% endif %}
						</li>
						<li><i class="fa fa-calendar-o"></i>{{ post.date }}</li>
						<li><i class="fa fa-comment"></i>3 Comments</li>
					</ul>
				</div>
			</article>
			{% endfor %}
		</div>
	</div>
</section>




