---
layout: default
title: Blog - Jake Tarr
---

<section class="blog-feed">
    <div class="ribbon-container">
        <div class="ribbon">
            <div class="ribbon__content">
                <h6>Blog</h6>
            </div>
        </div>
    </div>

	{% comment %}----- Template setup -----{% endcomment %}
	{% assign numberOfFeaturedPosts = 1 %}
	{% assign postsPerRow = 3 %}

	<!-- Featured post (latest post) -->
	{% include featured_posts.html %}

	{% comment %}----- Calculate the number of 'latest' posts to process ------{% endcomment %}
	{% assign numberOfLatestPosts = site.posts | size | minus: numberOfFeaturedPosts %}

	{% comment %}----- Calculate the number of rows -----{% endcomment %}
	{% assign numOfRows = numberOfLatestPosts | modulo: postsPerRow | plus: 1 %}

	{% comment %}----- Assign first offset -----{% endcomment %}
	{% assign offset = numberOfFeaturedPosts %}

	<!-- All the other posts added before latest post -->
	    <div class="latest-section">
	        <h5>Latest Posts</h5>
			{% for row in (1...numOfRows) %}
			{% include latest_posts.html %}
			{% comment %}---- Increment offset for next row ----{% endcomment %}
			{% assign offset = offset | plus: postsPerRow %}
			{% endfor %}
	    </div>

</section>






