/* Blog Post
=============================== */

.blog-post-section {
	margin: 40px auto 0 auto;
}

.blog-post {
	margin-top: 40px;
	.post-byline {
		border-bottom: 1px solid $post-byline-border-color;
		padding-bottom: 15px;
		margin-bottom: 20px;
	}
}

.post-social-media-byline {
	border-top: 1px solid $post-byline-border-color;
	border-bottom: 1px solid $post-byline-border-color;
	color: $post-byline-text-color;
	padding: 20px 0;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		margin-right: 30px;
		font-size: 18px;
		text-transform: uppercase;
		&:last-child {
			margin-right: 0;
		}
	}
}

.social-btn {
	font-size: 16px;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	font-weight: 600;
	i {
		margin-right: 10px;
	}
	&.facebook {
		background: $facebook-color;
		&:hover {
			color: $facebook-color;
			box-shadow: 0 0 0 2px $facebook-color inset;
			@include transition(0.3s ease-in);
		}
	}
	&.twitter {
		background: $twitter-color;
		&:hover {
			color: $twitter-color;
			box-shadow: 0 0 0 2px $twitter-color inset;
			@include transition(0.3s ease-in);
		}
	}
	&:hover {
		background: #fff;
		@include transition(0.3s ease-in);
		i.facebook {
			color: $facebook-color;
		}
		i.twitter {
			color: $twitter-color;
		}
	}
}





















