/* Contact Section
=============================== */

.contact-section {
	margin-top: 40px;
	p {
		font-family: "Adelle", serif;
		text-align: center;
	}
}

.contact-form-container {
	margin-top: 50px;
}

.contact-form {
	max-width: 50%;
	margin: 40px auto 0;
	@include clearfix;
	.btn {
		margin-top: 30px;
	}
	label {
		font-weight: 600;
		@media (max-width: 480px) {
			font-size: 16px;
		}
	}
	input, textarea {
		width: 100%;
	}
	@media (max-width: 480px) {
		max-width: 80%;
	}
}

.contact-form-group {
	margin-top: 30px;
	&:first-child {
		margin-top: 0;
	}
}

/* Forms
=============================== */

label {
	display: block;
}

input, textarea {
	background: #ddd;
	border-radius: 5px;
	border: 0;
	padding: 8px 16px;

	&:focus {
		background: $light-blue;
		color: #fff;
		@include transition(.5s ease);
	}
}

textarea {
	resize: vertical;
}


/* Buttons
=============================== */

.btn {
	border-radius: 5px;
	padding: 8px 16px;
	color: #fff;
	border: 0;
	white-space: nowrap;
	vertical-align: middle;
	&:focus {
		position: relative;
		top: 4px;
		box-shadow: none;
	}
}

.btn-default {
	background: $light-blue;
	box-shadow: 0px 4px 0 $medium-blue;
}



