// -----------------------------
// Footer
// -----------------------------

@include sticky-footer(130px, ".home-content", ".site-footer__push", ".site-footer");

.site-footer {
	margin-top: 200px;
	color: white;
	background: $site-color__medium-blue;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	height: initial;
	min-height: 130px;
}


// -----------------------------
// Footer -- Top
// -----------------------------

.site-footer__top-container {
	max-width: 960px;
	margin: 0 auto;
}

.site-footer__top-container--content {
	text-align: center;
	padding-top: 20px;
	color: $site-color__footer--text;
	h5 {
		text-transform: uppercase;
		text-align: center;
		color: $site-color__footer--title;
		font-family: "Proxima Nova", "Proxima-Nova", sans-serif;
		padding: 10px 0;
		font-weight: 600;
		@include multi-border(20px);
		border-top: 1px solid $site-color__footer--title;
		border-bottom: 1px solid $site-color__footer--title;
		&::before {
			border-top: 3px solid $site-color__footer--title;
			z-index: 2;
		}
		&::after {
			border-bottom: 3px solid $site-color__footer--title;
			z-index: 2;
		}
		@media (max-width: 990px) {
			font-size: 18px;
		}
	}
	ul {
		display: inline-block;
		padding: 0;
		margin: 0;
	}
	li {
		list-style: none;
	}
	a {
		color: $site-color__footer--text;
		&:hover {
			@include transition(0.2s);
			color: $site-color__heavy-blue;
		}
	}
	.icon {
		margin-right: 7px;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			opacity: 0.8;
			@include transition(0.2s ease-in);
		}
		img {
			max-width: 55px;
			@media (max-width: 998px) {
				max-width: 45px;
			}
		}
	}
}


// -----------------------------
// Footer -- Bottom
// -----------------------------

.site-footer__bottom-container {
	text-align: center;
	background: $site-color__heavy-blue;
	margin-left: -15px;
	margin-right: -15px;
}

.site-footer__bottom-container--content {
	max-width: 960px;
	margin: 0 auto;
	margin-top: 15px;
	padding: 10px 0;
	font-size: 16px;
}




