// Site Colors
$light-blue: #3098DB;
$medium-blue: #2474A8;
$heavy-blue: #1A5175;
$background-color: #F4F3EE;

// Utility Colors
$text-color: #555;

// Blog Section Colors
$post-border-bottom: #ddd;
$post-byline-text-color: #aaa;
$post-byline-border-color: #e7e7e7;
$post-byline-calendar-color: #16A085;
$post-byline-comment-color: #F15949;
$facebook-color: #3B5998;
$twitter-color: #00AEED;

// Footer Colors
$footer-title: #14405C;
$footer-text: #BDE5FF;