// Site Colors
$light-blue: #3098DB;
$medium-blue: #2474A8;
$heavy-blue: #1A5175;
$background-color: #F6F5EE;

// Utility Colors
$text-color: #555;

// Footer Colors
$footer-title: #14405C;
$footer-text: #BDE5FF;