<section class="home-content">
	<div class="services-section-container">
		<div class="ribbon-container">
			<div class="ribbon ribbonAnimate wow">
				<div class="ribbon-content">
					<h6 class="ribbonTextAnimate wow">Services</h6>
				</div>
			</div>
		</div>
		<div class="service-items-container row">
			<div class="service-item col-sm-4">
				<h5>Frontend Development</h5>
				<figure class="service-item-icon-container">
					<img class="service-item-icon wow fadeIn" src="img/home/code-editor.png" alt="">
				</figure>
				<p>{{ site.data.settings.frontend_services_brief }}</p>
				<ul>
					{% for frontend_service in site.data.settings.frontend_services %}
					<li>{{ frontend_service.item }}
					{% endfor %}
				</ul>
			</div>
			<div class="service-item col-sm-4">
				<h5>Backend Development</h5>
				<figure class="service-item-icon-container">
					<img class="service-item-icon wow fadeIn" src="img/home/server-rack.png" alt="">
				</figure>
				<p>{{ site.data.settings.backend_services_brief }}</p>
				<ul>
					{% for backend_service in site.data.settings.backend_services %}
					<li>{{ backend_service.item }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="service-item col-sm-4">
				<h5>UI/UX Design</h5>
				<figure class="service-item-icon-container">
					<img class="service-item-icon wow fadeIn" src="img/home/ui-design.png" alt="">
				</figure>
				<p>{{ site.data.settings.uiux_services_brief }}</p>
				<ul>
					{% for uiux_service in site.data.settings.uiux_services %}
					<li>{{ uiux_service.item }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<div class="skills-section-container">
		<div class="ribbon-container">
			<div class="ribbon ribbonAnimate wow">
				<div class="ribbon-content">
					<h6 class="ribbonTextAnimate wow">Technical Skills</h6>
				</div>
			</div>
		</div>
		<div class="skills-container row">
			<div class="skills-column col-xs-6">
				{% for skill in site.data.settings.skills_column_one %}
				<div class="skill">
					<h6>{{ skill.name }}</h6>
					<div class="skill-bar">
						<div class="full-bar">
							<div class="skill-percentage skill{{ skill.length }}Animate skill-{{ skill.length }} wow"></div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="skills-column col-xs-6">
				{% for skill in site.data.settings.skills_column_two %}
				<div class="skill">
					<h6>{{ skill.name }}</h6>
					<div class="skill-bar">
						<div class="full-bar">
							<div class="skill-percentage skill{{ skill.length }}Animate skill-{{ skill.length }} wow"></div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
