// -----------------------------
// Layout
// -----------------------------


* {
	@include box-sizing(border-box);
}

::-moz-selection, ::selection {
	background: $site-color__light-blue;
	color: #fff;
}

html {
	height: 100%;
	font-family: sans-serif;
}

body {
	font-family: "Proxima Nova", "Proxima-Nova", sans-serif;
	color: $site-color__body;
	font-size: 18px;
	line-height: 1.4;
	background-color: $site-color__bg;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: "Adelle", serif;
	margin: 20px 0;
}

h1 { font-size: 40px; }
h2 { font-size: 36px; }
h3 { font-size: 32px; }
h4 { font-size: 28px; }
h5 { font-size: 24px; }
h6 { font-size: 20px; }

p { 
	font-size: 16px;
}

a {
	color: $site-color__light-blue;
	text-decoration: none;
	outline: none;
	&:hover {
		@include transition-duration(.3s);
	}
	&:hover, &:focus {
		text-decoration: none;
	}
}

button, input, textarea {
	outline: none;
}

.site-container {
	max-width: 990px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}


