// -----------------------------
// Colors
// -----------------------------

// Primary Colors
$site-color__light-blue: #3098DB;
$site-color__medium-blue: #2474A8;
$site-color__heavy-blue: #1A5175;
$site-color__bg: #F4F3EE;

// Text
$site-color__body: #555;

// Blog Section Colors
$site-color__blog-post--border-bottom: #ddd;
$site-color__blog-post--byline: #aaa;
$site-color__blog-post--share-border: #e7e7e7;
$site-color__blog-post--calendar: #16A085;
$site-color__blog-post--comment: #F15949;
$site-color__blog-post--facebook: #3B5998;
$site-color__blog-post--twitter: #00AEED;
$site-color__blog-post--reddit: #FF4006;

// Footer Colors
$site-color__footer--title: #14405C;
$site-color__footer--text: #BDE5FF;